@import "~antd/dist/reset.css";
@import "./libs/normalize";
@import "./variables/colors.module.scss";

//заголовков таблицы
thead[class*="ant-table-thead"] th{
  background-color: $white !important;
  border-top: .5px solid $lightdivider;
  &::before {
    display: none !important;
  }
}

.ant-breadcrumb-separator{
  border: 1px solid #ffffff00 !important;
  background: rgba(0, 0, 0, 0) !important;
  margin: -10px !important;
}