
.topOffer {
  width: 87%;
  height: 70vh;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &_Block {
    position: relative;
    padding: 8px;
    border-radius: 10px;
    background-color: #F2F3F7;
    overflow: hidden;
    row-gap: 5px;
    margin: 10px;

    &_Link {
      position: absolute;
      left: 40px;
      bottom: 20px;
      margin-top: 4px;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
    }

    &_Title {
      font-family: 'SFProText-Regular', sans-serif;
      position: absolute;
      left: 40px;
      top: 30px;
      font-size: 30px;
      font-weight: 700;
    }

    &_Price {
      font-family: 'SFProText-Regular', sans-serif;
      position: absolute;
      left: 40px;
      top: 105px;
      font-weight: bold;
      font-size: 20px;
    }

    &_Image {
      width: 50%;
      height: 80%;
      position: absolute;
      right: 20px;
      bottom: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: transparent;
      }
    }
  }
}